.shader-list-item {
  display: flex;
  align-items: center;
  gap: var(--spacer-2);
  width: 100%;
  min-width: 0;
  padding: var(--spacer-2);
  padding-right: var(--spacer-3);

  & .shader-list-item-preview {
    width: var(--spacer-6);
    flex-shrink: 0;

    & > fig-preview {
      --fig-preview-background: transparent;
    }
  }

  & .shader-list-item-text {
    display: flex;
    flex: 1 1 auto;
    min-width: 0;
    flex-direction: column;
  }

  & .shader-list-item-label {
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: var(--figma-color-text-primary);
    font-weight: var(--body-medium-strong-fontWeight);
  }

  & .shader-list-item-actions {
    display: none;
    flex: 0 0 auto;
    margin-left: auto;
    place-items: center;
  }

  & .shader-list-item-menu {
    visibility: hidden;
  }

  &:hover {
    & .shader-list-item-menu {
      visibility: visible;
    }
    .shader-list-item-actions {
      display: grid;
    }
  }
}
