fig-chooser.shader-list {
  flex: 1 1 auto;
  min-height: 0;
  --fig-chooser-inline-padding: var(--spacer-1);
  --fig-chooser-inline-margin: 0;
  width: 100%;
  overflow-x: hidden;
  gap: 1px;

  > fig-separator:first-of-type {
    margin-block: var(--spacer-1);

    &::before {
      display: none;
    }
  }

  fig-choice {
    height: max-content;
    align-self: start;
    align-items: stretch;
    --fig-choice-border-radius: var(--radius-large);
    --fig-choice-selection-ring-width: 0;
    margin: 0 var(--spacer-2);
    width: calc(100% - var(--spacer-2) * 2);

    &[selected]{
      background-color: var(--figma-color-bg-selected);
    }
  }

  &[layout="grid"] {
    --fig-chooser-inline-margin: var(--spacer-2-5);
    align-content: start;
    gap: var(--spacer-1);
    grid-auto-rows: max-content;
    margin-inline: 0;
    padding-inline: var(--fig-chooser-inline-margin);
    overflow-x: clip;
    overflow-y: auto;

    > fig-separator:not(.fig-overflow) {
      --fig-separator-padding: 0;
      grid-column: 1 / -1;
      width: auto;
      max-width: none;
      margin: var(--spacer-2) 0 0;
      margin-inline: calc(-1 * var(--fig-chooser-inline-margin));

      &[label]:not([label=""]) {
        &::before {
          margin-inline: 0;
        }

        &::after {
          padding-inline: calc(
            var(--fig-chooser-inline-margin) + var(--spacer-1)
          );
        }

        &[sticky]:not([sticky="false"])[stuck] {
          --fig-separator-padding: var(--spacer-2) 0;
        }
      }
    }

    fig-choice {
      margin: 0;
      width: auto;
      --fig-choice-border-radius: var(--radius-medium);

      fig-card fig-preview {
        --fig-preview-background: transparent;
      }

      fig-card[selected]:not([selected="false"])
        > :is(fig-image, fig-media, fig-preview) {
        outline: none;
      }
    }
  }
}
