.shader-version-select-option {
  padding-left: var(--spacer-1);
  min-width: 0;

  & label {
    min-width: 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    overflow-wrap: anywhere;
  }
}
